In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import squarify
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import base64
import io
from scipy.misc import imread
import codecs
from IPython.display import HTML

from subprocess import check_output

In [ ]:
#Stroe CSV into DataFrame
salary_file="/Users/macowner/Project_3/survey_results_public.csv"
salary_df = pd.read_csv(salary_file)
salary_df.head()

In [ ]:
salary_df_filtered = salary_df[salary_df['Country'] == 'United States']
salary_df_filtered.head()

In [ ]:
salary_df_filtered_new = salary_df_filtered[['Country', 'Age', 'Gender','Salary']].copy()
salary_df_filtered_new.head()

In [ ]:
salary_df_filtered_new.dropna(inplace = True) 
salary_df_filtered_new.head()

In [ ]:
salary_df_filtered_new.dtypes

In [7]:
salary_df_filtered_new["Salary"]= salary_df_filtered_new["Salary"].replace(",", "",regex=True)

In [8]:
salary_df_filtered_new[salary_df_filtered_new["Salary"]=="112,000.00"]

Empty DataFrame
Columns: [Country, Age, Gender, Salary]
Index: []

In [9]:
salary_df_filtered_new['Salary']= salary_df_filtered_new['Salary'].astype(float)
salary_df_filtered_new.dtypes

Country     object
Age         object
Gender      object
Salary     float64
dtype: object

In [19]:
salary_df_filtered_new_mean = salary_df_filtered_new.groupby(["Age"])['Salary'].mean()

salary_df_filtered_new_mean.head(10)

Age
18 - 24 years old     6.227774e+04
25 - 34 years old     1.125516e+05
35 - 44 years old     1.193244e+05
45 - 54 years old     9.803922e+13
55 - 64 years old     1.220737e+05
65 years or older     9.060278e+04
Under 18 years old    6.189585e+03
Name: Salary, dtype: float64

In [20]:
salary_df_filtered_new_gender = salary_df_filtered_new.groupby(["Gender"])['Salary'].mean()

salary_df_filtered_new_gender.head(10)

Gender
Female                                                                       8.632171e+04
Female;Male                                                                  7.200000e+04
Female;Male;Transgender;Non-binary, genderqueer, or gender non-conforming    1.877875e+04
Female;Non-binary, genderqueer, or gender non-conforming                     7.649552e+04
Female;Transgender                                                           1.146472e+05
Female;Transgender;Non-binary, genderqueer, or gender non-conforming         8.703846e+04
Male                                                                         9.023642e+12
Male;Non-binary, genderqueer, or gender non-conforming                       8.856143e+04
Male;Transgender                                                             9.167778e+04
Male;Transgender;Non-binary, genderqueer, or gender non-conforming           1.150000e+05
Name: Salary, dtype: float64